
.world {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.verse {
    background-color: rgba(255, 78, 78, 0.236);
    width: 500px;
    height: 500px;
}